
.Images{
  height: 20vw;
  width: 20vw;
}
.title{
  font-size: 20px;
}
.header{
  display: flex;
  flex-wrap: wrap;
  
}
.price{
  font-size: 20px;
 
}
.header2{
  width: 300px;
  background-color:whitesmoke;
  margin: 10px;
  border-radius: 1px solid grey;
}
.Narvbar{
  background-color: blue;
 
display: flex;
align-items: center;
color: white;
justify-content: space-between;
padding-left: 30px;
}
.Navbar{

 align-items: center;
  display: flex;
 
justify-items: space-between;

}
.bar{
  display: flex;
flex: 1;
justify-content: space-between;
padding-right: 30px;
padding-left: 30px;
  
}
.cartButton{
  display: flex;
  justify-content: space-between;

}
.one{
  color: grey;
}
.two{
  color:gray;
}
