
.Images{
  height: 20vw;
  width: 20vw;
}
.title{
  font-size: 20px;
}
.header{
  display: flex;
  flex-wrap: wrap;
  
}
.price{
  font-size: 20px;
  height: 10px;
}
.header2{
  width: 300px;
  background-color:whitesmoke;
  margin: 10px;
  border-radius: 1px solid grey;
}
.Narvbar{
  background-color: blue;
  height: 500px;
display: flex;
justify-content: center;
align-items: centers;

}
.Navbar{
  background-color: green;
 align-items: center;
  display: flex;
  height: 200px;

}
